.cdc_wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 2fr 3fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "hello book book" "bookings bookings bookings";
  gap: 1em;

  padding: 1rem;

  .cdc_hello {
    grid-area: hello;

    .cdc_hello_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      height: 100%;
    }

    .cdc_time {
      margin-top: 1em;
      color: gray;
    }

    h1 {
      font-size: 4em;
      font-weight: 300;

      margin-top: 30px;
    }

    h2 {
      font-weight: 200;
      font-size: 2em;

      margin-top: 40px;
    }
  }

  .cdc_book {
    grid-area: book;

    .cdc_heading {
      margin-top: 1em;
      color: gray;
    }

    .cdc_content {
      display: grid;
      grid-template-columns: 1fr 1fr;

      gap: 10px 3em;
    }

    button {
      margin-left: 2em;
    }
  }

  .cdc_bookings {
    grid-area: bookings;
  }
}
