<div class="cdc-sidebar">

    <a class="cdc-sidebar-item" routerLinkActive="active" routerLink="./home">
        Today
    </a>

    <mat-expansion-panel hideToggle class="cdc-sidebar-item-group" routerLinkActive="active">
        <mat-expansion-panel-header>
            <mat-panel-title>
            Personal Space
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="cdc-sidebar-group">
            <div class="cdc-sidebar-item-group-item" routerLinkActive="active" routerLink="./about">Home</div>
        </div>
    </mat-expansion-panel>

    <a class="cdc-sidebar-item" routerLinkActive="active" routerLink="./services">
            Find a colleague
    </a>

    <mat-expansion-panel hideToggle class="cdc-sidebar-item-group">
        <mat-expansion-panel-header>
            <mat-panel-title>
            Visitors
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="cdc-sidebar-group">
            <div class="cdc-sidebar-item-group-item">Home</div>
        </div>
    </mat-expansion-panel>
    
</div>