<mat-card class="container">
    <mat-card class="left">
      <h1>Your Visitors</h1>
      <p>Visitors listed are displayed by the meeting start date. For meetings that span more than one day, select the initial date. Only extended visitors and visitors not attached to bookings are listed.</p>
    </mat-card>
    <mat-card class="right">
      <mat-card class="box">
        <h2>When is your visitor due?</h2>
        <form>
          <mat-form-field class="form-group">
            <mat-label>Search between:</mat-label>
            <input type="date" id="start" name="start" matInput>
            <label for="end">and</label>
            <input type="date" id="end" name="end" matInput>
          </mat-form-field>
          <p>The date range should not exceed 3 months.</p>
          <mat-form-field class="form-group">
            <mat-label>Display:</mat-label>
            <mat-select id="display" name="display" matInput>
              <mat-option value="10">10</mat-option>
              <mat-option value="20">20</mat-option>
              <mat-option value="30">30</mat-option>
              <mat-option value="50">50</mat-option>
              <mat-option value="100">100</mat-option>
            </mat-select>
            <label for="results-per-page">Results per page</label>
          </mat-form-field>
          <div class="button-container">
            <button id="find-visitor" mat-raised-button color="primary">Find Visitor</button>
            <button id="new-visitor" mat-raised-button>New Visitor</button>
          </div>
        </form>
      </mat-card>
    </mat-card>
  </mat-card>
  