<div class="cdc-login-wrapper">
    <img class="logo" src="../../../assets/images/logo-white.png" alt="">
    <div class="cdc-login-modal">
        <div class="cdc-login-content">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h1>Login</h1>
                <div class="form-group">
                    <input type="email" id="email" placeholder="Email" class="form-control" formControlName="email"
                        name="email" />
                </div>
            
                <!-- Add margin to create spacing between Email and Password -->
                <div class="form-group" style="margin-top: 10px;">
                    <input type="password" id="password" placeholder="Password" class="form-control"
                        formControlName="password" name="password" />
                </div>
            
                <input type="submit" id="submit" class="" style="margin-top: 10px;" value="Submit" name="">
            </form>
        </div>
    </div>
</div>


