@use '@angular/material' as mat;

@include mat.core();
.cdc-header {
    height: 40px;
    background-color: map-get($map: mat.$gray-palette, $key: 800);
    color: white;
}

.cdc-spacer {
    flex: 1 1 auto;
}

.cdc-button {
    // padding: 0px 20px;
    height: 30px;
}
