<div style="margin-left: 0px; margin-left: 5px;">
    <p><strong style="font-size: 30px;">Welcome to Personal Spaces page</strong>.</p>
    <a routerLink="../personal-space-home" class="btn btn-primary">Go to Home</a> 
</div>
<div style="margin-top: 20px; margin-left: 5px;">
   <a routerLink="../personal-space-your-bookings" class="btn btn-primary">Go to Your Bookings</a>
</div>
<div style="margin-top: 20px; margin-left: 5px;">
    <a routerLink="../personal-space-book-a-personal-space" class="btn btn-primary">Go to Book a Personal Space</a>
</div>
