<div class="colleague-search-container">
    <h1><img src="https://thumbs.dreamstime.com/z/user-group-icon-isolated-pictogram-avatar-several-people-user-group-icon-isolated-pictogram-avatar-several-people-white-214654367.jpg?w=768" alt="" style="width: 40px; height: 40px;">Find a Colleague
        
    </h1>
    <div class="input-group">
      <input type="text" placeholder="First Name" class="first-name">
      <input type="text" placeholder="Last Name" class="last-name">
      
      <div class="input-group">
        <!-- Date Picker -->
        <input type="date">
        <!-- Find Colleague Button -->
        <button class="find-colleague-button">Find Colleague</button>
      </div>